@import "../../../assets/scss/abstracts/variables";

.slider_wrapper {
    position: relative;
    z-index: 4;
    margin-bottom: 60px;
    overflow: hidden;
    .container{
        max-width: 100%;
        padding: 0 60px;
        @media screen and (max-width:1260px) {
            padding: 0 30px;
        }
        @media screen and (max-width:575px) {
            padding: 0 12px;
        }
    }
    &.trending_wrapper{
        margin-top: -160px;
    }
}
.cardSlider{
    overflow: visible !important;
    display: flex;
    margin: 10px -5px 0;
    &:hover .swiper-slide {
        transform: translateX(-10%);
        @media screen and (max-width:768px) {
            transform: translateX(0%);
        }
    }
    .swiper-slide:hover ~ .swiper-slide {
        transform: translateX(10%);
        @media screen and (max-width:768px) {
            transform: translateX(0%);
        }
    }
    & .swiper-slide:hover {
        transform: scale(1.1);
        @media screen and (max-width:768px) {
            transform: scale(1);
        }
    }
    .swiper-button-next{
        background: linear-gradient(269.25deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    }
    .swiper-button-prev{
        background: linear-gradient(-269.25deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    }
    .swiper-button-prev,.swiper-button-next{
        height: 100%;
        margin-top: 0;
        top: 0;
        width: 5rem;
        margin: 0 -70px;
        @media screen and (max-width:1260px) {
            width: 3rem;
            margin: 0 -40px;
        }
        @media screen and (max-width:768px) {
            margin: 0 -54px;
        }
        &::after {
            color: #fff;
            height: 32px;
            width: 32px;
            font-size: 30px;
            text-align: center;
            @media screen and (max-width:1260px) {
                height: 20px;
                width: 20px;
                font-size: 20px;
            }
        }
        &.swiper-button-disabled{
            opacity: 0;
        }
    }
    .swiper-slide {
        // flex: 1 1 0px;
        transition: transform 300ms ease 100ms;
        margin: 0 !important;
        padding: 0 5px;
        // &:after {
        //     content: "";
        //     display: block;
        //     padding-top: 70%;
        // }
        // TOUCH
        @media screen and (max-width:768px) {
            // transform: inherit;
            &.swiper-slide-active{                
                .tray-cardHover{
                    bottom: 0;
                }
            }
        }
    }
}
.cardBlock{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 330px;
    // padding: 0 6px;
    .cardImg{
        // display: inline-flex;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        display: block;
        height: 100%;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    &:hover{        
        box-shadow: 1px 31px 23px 1px rgba(0,0,0,.57);
        .tray-cardHover{
            bottom: 8px;
        }
    }  
}
.tray-cardHover{
    position: absolute;
    bottom: -110%;
    width: 100%;
    overflow: hidden;
    // background: #16181f;
    // background: linear-gradient(180deg, rgba(22, 24, 31, 0), rgba(22, 24, 31, 0.15) 24.61%, rgba(22, 24, 31, 0.6) 38.57%, rgb(22, 24, 31) 64.27%, rgb(22, 24, 31) 82.94%, #16181f);
    // border-radius: 0px;
    background: linear-gradient(180deg, rgb(22 24 31 / 2%), rgb(22 24 31) 24.61%, rgb(22 24 31) 38.57%, rgb(22, 24, 31) 64.27%, rgb(22, 24, 31) 82.94%, #16181f);
    margin: 0;
    padding: 0;
    // opacity: 0;
    // visibility: hidden;
    transition: all 0.5s ease;
    z-index: 5;
    .tray-cardImg{
        width: 100%;
        height: 190px;
        position: relative;
        &::after{
            content: "";
            background: linear-gradient(180deg,rgba(22,24,31,0),rgba(22,24,31,.15) 24.61%,rgba(22,24,31,.3) 38.57%,rgba(22,24,31,.75) 64.27%,rgba(22,24,31,.92) 82.94%,#16181f);
            bottom: 0;
            bottom: -1px;
            height: min(60%,5rem);
            position: absolute;
            width: 100%;
            left: 0;
        }
        a{
            width: 100%;
            height: 100%;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .tray-cardDescription{
        padding: 20px 12px 12px;
        .previewBtn {
            background: #e1e6f0;
            width: 100%;
        }
        .cartBtn {
            background: #ffffff26;
            margin-left: 8px;
        }
        .cartBtn,.previewBtn{
            padding: 9px;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            display: flex;
            transition: all 0.5s ease;
            text-transform: capitalize;
            color: #0f1014;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            overflow: hidden;
            position: relative;
            &:hover{
                transform: scale(1.01);
            }
        }
        .discripion{
            margin-top: 5px;
            ul{
                display: flex;
                align-items: center;
                li {
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 15px;
                    color: #ffffffd6;
                    position: relative;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    &:after {
                        content: "";
                        width: 5px;
                        height: 5px;
                        background: #ffffffd6;
                        display: block;
                        border-radius: 100%;
                        margin: 0 6px;
                    }
                    &:last-child{
                        &::after{
                            content: none;
                        }
                    }
                }
            }
            p{
                font-size: 12px !important;
                font-weight: 400;
                line-height: 18px;
                color: #8f98b2;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    .Title {
        margin: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 15px;
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $white;
        }
        span{
            font-size: 15px;
            color: $primary-color;
            font-weight: 600;
            letter-spacing: 1px;
            margin-left: 5px;
            line-height: 1.2;
        }
    }
}
