@import "../../../assets/scss/abstracts/variables";

.slider_wrapper {
    position: relative;
    z-index: 4;
    // margin-bottom: 60px;
    margin-bottom: 30px;
    overflow: hidden;
    .container{
        max-width: 100%;
        padding: 0 60px;
        @media screen and (max-width:1260px) {
            // padding: 0 30px;
        }
        @media screen and (max-width:1024px) {
            padding: 0 12px;
            max-width: 960px;
        }
    }
    &.trending_wrapper{
        margin-top: -160px;

        @media (max-width:767px){
            margin-top:0;
        }
    }    
    .viewIcon{
        height: 24px;
    }
}
.cardSlider{
    overflow: visible !important;
    display: flex;
    margin: 10px -5px 0;
    .swiper-button-next{
        background: linear-gradient(269.25deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    }
    .swiper-button-prev{
        background: linear-gradient(-269.25deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    }
    .swiper-button-prev,.swiper-button-next{
        height: 100%;
        margin-top: 0;
        top: 0;
        width: 3.4rem;
        margin: 0 -70px;
        @media screen and (max-width:1260px) {
            // width: 3rem;
            // margin: 0 -40px;
            width: 3.5rem;
            margin: 0 -70px;
        }
        @media screen and (max-width:1024px) {
            display: none;
        }
        @media screen and (max-width:768px) {
            margin: 0 -54px;
        }
        &::after {
            color: #fff;
            height: 32px;
            width: 32px;
            font-size: 30px;
            text-align: center;
            @media screen and (max-width:1260px) {
                height: 20px;
                width: 20px;
                font-size: 20px;
            }
        }
        &.swiper-button-disabled{
            opacity: 0;
        }
    }
    .swiper-slide {
        // flex: 1 1 0px;
        transition: transform 300ms ease 100ms;
        // margin: 0 !important;
        // padding: 0 5px;
        // &:after {
        //     content: "";
        //     display: block;
        //     padding-top: 70%;
        // }
        // TOUCH
        @media screen and (max-width:768px) {
            // transform: inherit;
            &.swiper-slide-active{                
                .tray-cardHover{
                    bottom: -110% !important;
                }
            }
        }
    }

}
.cardBlock{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    padding-top: 150%;
    // height: 330px;
    // @media screen and (max-width:1899px) {
    //     height: 300px;
    // }
    // @media screen and (max-width:1799px) {
    //     height: 290px;
    // }
    // @media screen and (max-width:1699px) {
    //     height: 250px;
    // }
    // @media screen and (max-width:1599px) {
    //     height: 230px;
    // }
    // @media screen and (max-width:1399px) {
    //     height: 300px;
    // }
    // @media screen and (max-width:1299px) {
    //     height: 280px;
    // }

    .cardImg{
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        display: block;
        height: 100%;
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        img{
            // display: block;
            // width: 100%;
            // height: 100%;
            // object-fit: cover;
            // object-position: top;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    // &:hover{        
    //     box-shadow: 1px 31px 23px 1px rgba(0,0,0,.57);
    //     .tray-cardHover{
    //         bottom: 8px;
    //     }
    // }  
}
.tray-cardHover{
    position: absolute;
    bottom: -110%;
    width: 100%;
    overflow: hidden;
    // background: #16181f;
    // background: linear-gradient(180deg, rgba(22, 24, 31, 0), rgba(22, 24, 31, 0.15) 24.61%, rgba(22, 24, 31, 0.6) 38.57%, rgb(22, 24, 31) 64.27%, rgb(22, 24, 31) 82.94%, #16181f);
    // border-radius: 0px;
    background: linear-gradient(180deg, rgb(22 24 31 / 2%), rgb(22 24 31) 24.61%, rgb(22 24 31) 38.57%, rgb(22, 24, 31) 64.27%, rgb(22, 24, 31) 82.94%, #16181f);
    margin: 0;
    padding: 0;
    // opacity: 0;
    // visibility: hidden;
    transition: all 0.5s ease;
    z-index: 5;
    .tray-cardImg{
        width: 100%;
        height: 190px;
        position: relative;
        &::after{
            content: "";
            background: linear-gradient(180deg,rgba(22,24,31,0),rgba(22,24,31,.15) 24.61%,rgba(22,24,31,.3) 38.57%,rgba(22,24,31,.75) 64.27%,rgba(22,24,31,.92) 82.94%,#16181f);
            bottom: 0;
            bottom: -1px;
            height: min(60%,5rem);
            position: absolute;
            width: 100%;
            left: 0;
        }
        a{
            width: 100%;
            height: 100%;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .tray-cardDescription{
        padding: 20px 12px 12px;
        .previewBtn {
            background: #e1e6f0;
            width: 100%;
        }
        .cartBtn {
            background: #ffffff26;
            margin-left: 8px;

            &.incart{
                background: #ffb43a;
            }
        }
        .cartBtn,.previewBtn{
            padding: 9px;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            display: flex;
            transition: all 0.5s ease;
            text-transform: capitalize;
            color: #0f1014;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            overflow: hidden;
            position: relative;
            &:hover{
                transform: scale(1.01);
            }
        }
        .btn_wrapper{
            display: none;
        }
        .discripion{
            margin-top: 5px;
            ul{
                display: flex;
                align-items: center;
                li {
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 15px;
                    color: #ffffffd6;
                    position: relative;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    &:after {
                        content: "";
                        width: 5px;
                        height: 5px;
                        background: #ffffffd6;
                        display: block;
                        border-radius: 100%;
                        margin: 0 6px;
                    }
                    &:last-child{
                        &::after{
                            content: none;
                        }
                    }
                }
            }
            p{
                font-size: 12px !important;
                font-weight: 400;
                line-height: 18px;
                color: #8f98b2;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    .Title {
        margin: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 15px;
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $white;
        }
        span{
            font-size: 15px;
            color: $primary-color;
            font-weight: 600;
            letter-spacing: 1px;
            margin-left: 5px;
            line-height: 1.2;
        }
    }
    @media screen and (max-width:768px) {
        bottom: -110% !important;
    }
}
.hover-card-container{
    width: 25vw;
    min-width: 340px;
    max-width: 340px;
    height: auto;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 13px 2px #000;
    background-image: linear-gradient(180deg, #232931 43%, #222b37 86%);
    backdrop-filter: blur(11px);
    @media screen and (max-width:1799px) {
        min-width: 310px;
        max-width: 310px;        
    }
    @media screen and (max-width:1599px) {
        min-width: 280px;
        max-width: 280px;  
    }
    .card-image-content {
        padding-top: 56.25%;
        position: relative;
        img{
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
    }
    .card-text-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 7px;
        span{
            font-size: 24px;
            display: flex;
            align-items: center;
            @media screen and (max-width:1799px) {
                font-size: 20px;      
            }
            i{
                font-size: 16px;
                text-decoration: line-through;
                opacity: 0.6;
                margin-left: 8px;
                font-style: normal;
                @media screen and (max-width:1799px) {
                    font-size: 14px;   
                    margin-right: 4px;   
                }
            }
        }
        .cartBtn{
            padding: 6px;
            border-radius: 8px;
            width: 40px;
            height: 40px;
            img{
                width: 24px;
            }
        }
        .previewBtn {
            background: rgba(255, 255, 255, 0.1490196078);
            color: #fff;
            font-weight: 100;
            min-width: 120px;
            padding: 10px;
            @media screen and (max-width:1799px) {
                min-width: 100px;
                padding: 10px 8px;
            }
        }
        .cartBtn,.previewBtn {
            transform: scale(1) !important;
        }
    }
    .Title{
        h2{
            font-weight: 500;
            font-size: 20px;
            margin: 8px 0;
            color: #ccc;
            line-height: 26px;
            @media screen and (max-width:1599px) {
                font-size: 18px;
            }
        }
    }
    .discripion{
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
            font-size: 14px;
            line-height: 22px;
            @media screen and (max-width:1599px) {
                -webkit-line-clamp: 3;
                line-clamp: 3;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    #popup-root{
       display: none; 
    }
}
@keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}
.popup-content {
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) ;
}
