.btn {
  &:hover {
    background-color: #ffc107;
  }
}

.navbar-light .navbar-brand {
  @media (max-width: 991px) {
    font-size: 14px;
  }
}

.responsive {
  button {
    margin: 0 5px;
    img {
      width: 20px;
    }
  }
}

iframe {
  height: 100vh;
  padding-top: 69px;
  display: block;
  &.mobile {
    max-width: 350px;
    margin: 0 auto;
  }
}

.btn-outline-warning {
  @media (max-width: 991px) {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}
